/* app css stylesheet */

/* COLORS */
nav.navbar.navbar-inverse.navbar-fixed-top.purple-haze{
  background-color: #402b56;
}

/*BOOTSTRAP THEME OVERIDES */
.navbar-inverse {
  background-color: #7e4082;
}

body {
  background-color: tomato;
}
